#app {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr;
  gap: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app-header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.75fr 2fr 0.75fr;
  justify-content: center;
  align-items: center;
  gap: 0px;
  font-size: 12px;
  color: #FFFFFF;
  text-transform: uppercase;
}

#app-header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 100%;
  background: #176F7C;
  /* filter: brightness(0.8); */
  background: #10535D;

}

#app-header-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 100%;
  background: #10535D;
  /* filter: brightness(0.8); */
  
}

#app-header-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 100%;
  background: #176F7C;
}

#app-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0px;
  /* height: fit-content; */
  /* height: 100%; */
  /* min-width:100vw;min-height:100vh; */
  padding: 0 0;
  overflow: hidden;
}

#app-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 0px;
  padding: 0px;
  overflow-y: scroll;
}

#app-footer[data-hide=true] {
  display: none;
}

#start-button {
  padding: 8px 16px;
  background: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  border: 1px solid #343434;
  border-radius: 4px;
   box-shadow: 0 2px 1px 1px #00000070;
}
#audio-button {
  padding: 4px 4px;
  background: #E1E1E1;
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  border: 1px solid #343434;
  border-radius: 4px;
   box-shadow: 0 2px 1px 1px #00000070;
}