:root {
  --tiletext-dark: #706D6D9C;
  --tiletext-light: #EBEBEB96;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
  touch-action: manipulation;
}

#canvas{
  padding: 4px 0;
  /* box-shadow: 0 0  10 #000000; */
  /* filter: drop-shadow(0 0 0.095px #00000090); */
}

#scene{
  /* box-shadow: 0 0  10 #000000; */
  /* filter: drop-shadow(0 0 2px #00000090); */
}

#surface{
  /* box-shadow: 0 0  10 #000000; */
  /* filter: drop-shadow(0 0 2px #00000090); */
}


#nut-top {
  fill: #FFFFFF00;
}

#nut-bottom {
  fill: #4A3327;
}
/* #fret-marker {
  fill: #4A3327;
} */

#smallGrid #grid-frets{
  filter: drop-shadow(0 0 0.4px #D0C56799);
}
#smallGrid #grid-strings{
  filter: drop-shadow(0 0 0.095px #00000090);
}

g[id*="fret-marker"] circle {
  fill: #DEDEDEB5;
  stroke: #221C1590;
  stroke-width: 0.025;
}