.gradient {
  background-image: linear-gradient(66deg, #4C5255, #3F4349),
    linear-gradient(to bottom, #4B5660, #502249),
    linear-gradient(to right, #404A54, #333F57);
  background-blend-mode: initial,
    color-dodge,
    difference;
  background-repeat: no-repeat,
    no-repeat,
    no-repeat;
  background-position: bottom right,
    left,
    right;
}
