.tile rect {
  fill: transparent;
}

.note-marker,
.note-marker * {
  transition: 0.2s ease-out;
}

.note-marker circle {
  fill: #B95E18;
  stroke: #EAEAEA;
  stroke-width: 0.05px;
  filter: drop-shadow(0 0 0.095px #00000090);
}

.tile[data-active=true],
.tile[data-active=true] .note-marker {
  opacity: 1;
}

.tile[data-active=false],
.tile[data-active=false] .note-marker {
  opacity: 0;
}

.tile[data-is-target=true] .note-marker circle {
  opacity: 1;
  filter: invert(1) hue-rotate(70deg) brightness(0.7);
}

.note-marker text {
  fill: #FFFFFF;
  font-size: 0.4px;
  font-weight: 600;
  user-select: none;
}