.tile rect {
  fill: transparent;
  /* stroke: #612D2D; */
  /* stroke-width: 0.01px; */
  /* filter: invert(1); */
  /* display: none; */
  /* background: radial-gradient(#e66465, #9198e5); */
}

.note-marker,
.note-marker * {
  transition: 0.2s ease-out;
}

.note-marker circle {
  fill: #DEA329;
  stroke: #EAEAEA;
  stroke-width: 0.05px;
  filter: drop-shadow(0 0 0.095px #00000090);
}

.tile[data-active=true],
.tile[data-active=true] .note-marker {
  opacity: 1;
}

.tile[data-active=false],
.tile[data-active=false] .note-marker {
  opacity: 0;
}

.tile[data-is-target=true] .note-marker circle {
  opacity: 1;
  filter: invert(1) hue-rotate(130deg);
}


.note-marker text {
  fill: #FFFFFF;
  font-size: 0.4px;
  font-weight: 600;
}

/*

.tile[data-tile-type=barrier] rect {
  fill: #4F5057;
}

.tile[data-tile-type=barrier] text {
  fill: var(--tiletext-light);
}

.tile[data-is-path-node=true] rect {
  fill: #DFFFB382;
}

.tile[data-is-path-node=true] text {
  fill: #E9C71C;
  stroke: #000000;
  font-weight: 900;
  stroke-width: 0.015px;
  
}



.tile[data-tile-type=start] rect {
  fill: #9B2B2B;
}

.tile[data-tile-type=start] text {
  fill: var(--tiletext-light);
}

.tile[data-active=true] rect {
  fill: #288ED0;
  fill: #F2CA69;
}

.tile[data-current=true] rect {
  fill: #288ED0;
  fill: #F2CA69;
}

.tile[data-active=true][data-is-path-node=false] text {
  fill: #288ED0;
  fill: #F2CA69;
  fill: var(--tiletext-light);
}

.tile[data-highlight=true] rect {
  fill: #FFEE9F;
}

.tile[data-highlight=true][data-is-path-node=false][data-tile-type=empty] text {
  fill: #FFEE9F;
  fill: var(--tiletext-light);
}

.tile[data-target=true] rect {
  fill: #D07728;
}

.tile[data-target=true] rect {
  fill: #D07728;
}

.tile[data-tile-type=goal] rect {
  fill: #329B2B;
}

.tile[data-tile-type=goal] text {
  fill: var(--tiletext-light);
}
*/